

{% extends 'base.html' %}

{%block content%}



{% if user.is_authenticated %}



<br><br><br>

<center><h1>Students<h1><center>

<table class="table table-striped">

    <thead>
        <th>Last Name<th/>
        <th>First Name<th/>
        <th>Middle Name<th/>
        <th>Grade<th/>
    <thead>
    
        {% for i in students %}
            <tr>
                <td>{{ i.lastname }}<td/>
                <td>{{ i.firstname}}<td/>
                <td>{{i.middlename}}<td/>
                <td>{{i.grade}}<td/>
            <tr>
        {% endfor %}
</table>


{% else %}
<br>
<br>
<h1>sorry you must be logged in to view this page...</h1>

{% endif %}


{% endblock %}